<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Serverside Datatable Example</title>
    <!--Bootstrap5 CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Datatable Bootstrap5 Theme-->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css">
    <style>
        tr {
            vertical-align: baseline;
        }
    </style>
</head>
<body>
<div class="container mx-auto p-3">
    <table id="datatable" class="table table-responsive table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Population</th>
            <th>Area (km²)</th>
            <th>GDP ($)</th>
            <!--Extra column for button group-->
            <th></th>
        </tr>
        <tr>
            <th><input type="text" id="name" class="form-control"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!--Bootstrap5 JavaScript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<!--Datatables-->
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
<!--Datatable Bootstrap5 JS Script-->
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>
<script>
    $(document).ready(function () {
        const $name = $('#name');

        const datatable = new DataTable('#datatable', {
            order: [],
            orderCellsTop: true,
            bFilter: false,
            iDisplayLength: 10,
            lengthChange: false,
            processing: true,
            serverSide: true,
            ajax: {
                url: "{% url 'countries:datatable' %}",
                data: function (params) {
                    params.name = $name.val()
                },
            },
            columns: [
                {data: "name"},
                {data: "population"},
                {data: "area"},
                {data: "gdp"},
                {
                    data: null,
                    orderable: false,
                    render: function (data) {
                        return '<div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">\n' +
                            '<a style=\'width: 80px\'' + `href="${data.pk}/update/"` + 'class="btn btn-primary">Update</a>\n' +
                            '<button style=\'width: 80px\' type="button" class="btn btn-danger">Delete</button>\n' +
                            '</div>'
                    }
                }
            ]
        });

        $name.on('keyup', function () {
            datatable.columns(0).search($(this).val()).draw();
        });
    })
</script>
</body>
</html>
